@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color: #FFEED9;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  
}
::selection {
  background-color: #ffb6d0; /* custom background */
  color: #4f3da1;           /* custom text color */
}
html, body {
  overflow-x: clip; /* or hidden */
}